@using CoupleEntry.Models
@{
    HttpCookieCollection cookies = HttpContext.Current.Request.Cookies;
    HttpCookie authCookie = cookies.Get("UserMail");
    string mailId = null;
    string userName = null;
    string imageUrl = null;
    if (authCookie != null)
    {
        mailId = SessionService.GetProperty(SessionService.SessionVariableNames.Email_Id) as string;
        userName = mailId;
    }
    User currentUser = SessionService.GetProperty(SessionService.SessionVariableNames.Current_User) as User;
    if (currentUser != null)
    {
        imageUrl = currentUser.ImageUrl;
        userName = currentUser.Name;
    }
}
@if (mailId != null)
{

    <div class="navbar-right">
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            @{
                if (currentUser != null)
                {
                    <li><span class="pull-right iconImageUrl" style="background:url(@imageUrl)"></span></li>
                }
            }
            <li>
                @Html.ActionLink("Hello " + userName + "!", "EditUserDetails", "Home", routeValues: null, htmlAttributes: new { title = "Edit User Details" })
            </li>

            <li><a href="#" onclick="signOut();">Log off</a></li>
        </ul>
    </div>

                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    </ul>
                }
<script>
    function signOut() {
        debugger;
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
            window.location.href = '@Url.Action("login", "login")';
        });
    }

</script>